.loginSection {
  margin: 2rem auto;
  width: 70%;
}

.loginSection h1 {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.loginSection form {
  width: 100%;
}

.loginSection form div {
  margin: 1rem 0;
}

.loginSection form div label {
  display: block;
  font-size: 1.5rem;
}

.loginSection form div input {
  width: 100%;
  margin: 0.5rem 0 1rem 0;
  height: 2rem;
  padding: 0.4rem;
  border: none;
  border-bottom: 1px #333 solid;
  font-family: inherit;
  font-size: 1rem;
}

.loginSection form div input:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid #84d2f6;
}

.loginSection form .btn {
  width: 100%;
  background-color: #133c55;
  margin-bottom: 2rem;
  border: none;
  height: 2rem;
  color: #fff;
}

.loginSection form .btn:focus {
  outline: none;
  border: none;
}

.loginSection form .btn:hover {
  background: #092b41;
  cursor: pointer;
}

.loginSection p {
  font-size: 1.3rem;
}

.loginSection .back {
  text-decoration: none;
  margin-left: 0.7rem;
  color: #386fa4;
}

.loginError {
  color: red;
  margin-bottom: 1rem;
}

@media (max-width: 700px) {
  .loginSection {
    width: 100%;
    margin: 0.5rem auto;
    padding: 0.5rem;
  }
  .loginSection h1 {
    font-size: 1.7rem;
    margin-bottom: 1.5rem;
  }
}
